In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [2]:
nyc_data = pd.read_csv('data/nyc_data.csv')

In [3]:
nyc_data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
madrid_data = pd.read_csv('data/madrid_data.csv')

In [5]:
madrid_data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6369,"Rooftop terrace room with ensuite bathroom, Airc.",13660,Simon,Chamartín,Hispanoamérica,40.45628,-3.67763,Private room,70,1,65,2019-09-04,0.56,1,53
1,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40341,-3.74084,Private room,17,4,33,2018-07-15,0.55,2,48
2,24805,Gran Via Studio Madrid,101471,Iraido,Centro,Universidad,40.42202,-3.70395,Entire home/apt,80,5,2,2017-07-03,0.03,1,354
3,24836,"Select the Madrid more ""cool"".",101653,Tenty,Centro,Justicia,40.41995,-3.69764,Entire home/apt,115,3,64,2019-07-07,0.63,1,301
4,26825,Single Room whith private Bathroom,114340,Agustina,Arganzuela,Legazpi,40.38985,-3.69011,Private room,25,2,136,2019-07-10,1.19,1,337

In [7]:
madrid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20837 entries, 0 to 20836
Data columns (total 16 columns):
id                                20837 non-null int64
name                              20832 non-null object
host_id                           20837 non-null int64
host_name                         20822 non-null object
neighbourhood_group               20837 non-null object
neighbourhood                     20837 non-null object
latitude                          20837 non-null float64
longitude                         20837 non-null float64
room_type                         20837 non-null object
price                             20837 non-null int64
minimum_nights                    20837 non-null int64
number_of_reviews                 20837 non-null int64
last_review                       16183 non-null object
reviews_per_month                 16183 non-null float64
calculated_host_listings_count    20837 non-null int64
availability_365                  20837 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 2.5+ MB

In [37]:
madrid_data.shape

(20837, 16)

In [38]:
null_df = madrid_data[madrid_data['reviews_per_month'].isnull()]
null_df.shape

(4654, 16)

In [39]:
np.mean(null_df['availability_365'])

152.2872797593468

In [40]:
non_null = madrid_data[madrid_data['reviews_per_month'].notna()]
non_null.shape

(16183, 16)

In [41]:
np.mean(non_null['availability_365'])

155.90576530927515

In [42]:
np.mean(madrid_data['availability_365'])

155.09756682823823

In [43]:
null_df['neighbourhood'].value_counts()

Embajadores                   358
Universidad                   329
Palacio                       240
Justicia                      212
Sol                           189
Cortes                        161
Trafalgar                     103
Gaztambide                     88
Rosas                          76
Arapiles                       76
Guindalera                     72
Goya                           70
Palos de Moguer                68
Rios Rosas                     67
Simancas                       67
Almagro                        65
Argüelles                      64
Recoletos                      61
Puerta del Angel               61
Cuatro Caminos                 57
San Isidro                     55
Castellana                     53
Lista                          51
Ventas                         50
Castillejos                    50
Canillejas                     49
Numancia                       45
Bellas Vistas                  44
San Diego                      44
Pueblo Nuevo                   42
                             ...
Salvador                       10
Legazpi                        10
Los Rosales                    10
Estrella                        9
Media Legua                     9
Entrevías                       9
Campamento                      9
Piovera                         9
Orcasur                         9
Casco Histórico de Barajas      7
San Cristobal                   7
Ambroz                          7
Butarque                        6
Vinateros                       6
Santa Eugenia                   6
Aeropuerto                      5
Corralejos                      5
Palomas                         5
El Goloso                       5
Orcasitas                       5
Valdemarín                      4
Aravaca                         4
Colina                          4
Apostol Santiago                4
Atocha                          3
San Fermín                      2
El Pardo                        2
Cuatro Vientos                  2
Atalaya                         2
Fuentelareina                   1
Name: neighbourhood, Length: 125, dtype: int64

In [45]:
null_df.shape[0]/madrid_data.shape[0]

0.22335268992657292

In [28]:
nyc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
id                                48895 non-null int64
name                              48879 non-null object
host_id                           48895 non-null int64
host_name                         48874 non-null object
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 38843 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [34]:
null_df = nyc_data[nyc_data['reviews_per_month'].isnull()]
null_df.shape

(10052, 16)

In [30]:
np.mean(null_df['availability_365'])

104.66046557898926

In [32]:
non_null = nyc_data[nyc_data['reviews_per_month'].notna()]
non_null.shape

(38843, 16)

In [33]:
np.mean(non_null['availability_365'])

114.88288752156116

In [36]:
non_null.shape[0]/nyc_data.shape[0]

0.7944166070150323